*{
    margin: 0;
    padding: 0;
}

.container-form-shipping{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid black;
}

.container-form-shipping form{
    display: flex;
    flex-direction: column;
}